*{
	margin:0;
	padding: 0;
}
.3_2 { 
	overflow:hidden;
}
.e3_2 { 
	background-color:rgba(0, 0, 0, 1);
	width:1440px;
	height:4649px;
	position:absolute;
}
.e3_3 { 
	width:1343px;
	height:1170px;
	position:absolute;
	left:66px;
	top:21px;
}
.e3_4 { 
	width:1343px;
	height:1170px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_5 { 
	width:780px;
	height:1170px;
	position:absolute;
	left:563px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_6 { 
	width:871px;
	height:384px;
	position:absolute;
	left:0px;
	top:245px;
}
.3_7 { 
	overflow:hidden;
}
.e3_7 { 
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:871px;
	height:384px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_8 { 
	color:rgba(255, 255, 255, 1);
	width:745px;
	height:316px;
	position:absolute;
	left:41px;
	top:14px;
	font-family:Poppins;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:-2;
	line-height:px;
}
.e3_9 { 
	width:329px;
	height:36px;
	position:absolute;
	left:54px;
	top:192px;
}
.e3_10 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.10000000149011612;
	width:329px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:200px;
	border-top-right-radius:200px;
	border-bottom-left-radius:200px;
	border-bottom-right-radius:200px;
}
.e3_11 { 
	background-color:rgba(37.06353038549423, 171.06250405311584, 116.93045675754547, 1);
	width:46px;
	height:26px;
	position:absolute;
	left:5px;
	top:5px;
	border-top-left-radius:200px;
	border-top-right-radius:200px;
	border-bottom-left-radius:200px;
	border-bottom-right-radius:200px;
}
.e3_12 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:18px;
	position:absolute;
	left:15px;
	top:9px;
	font-family:Poppins;
	text-align:left;
	font-size:10px;
	letter-spacing:1.5;
	line-height:px;
}
.e3_13 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.800000011920929;
	width:248px;
	height:18px;
	position:absolute;
	left:66px;
	top:9px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_14 { 
	width:200px;
	height:70px;
	position:absolute;
	left:54px;
	top:749px;
}
.e3_15 { 
	background-color:rgba(37.06353038549423, 171.06250405311584, 116.93045675754547, 1);
	width:200px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_16 { 
	color:rgba(255, 255, 255, 1);
	width:114px;
	height:22px;
	position:absolute;
	left:43px;
	top:24px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:1;
	line-height:px;
}
.e3_17 { 
	width:200px;
	height:70px;
	position:absolute;
	left:284px;
	top:749px;
}
.e3_18 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.10000000149011612;
	width:200px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_19 { 
	color:rgba(255, 255, 255, 1);
	width:78px;
	height:22px;
	position:absolute;
	left:61px;
	top:24px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:1;
	line-height:px;
}
.e3_20 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:600px;
	height:58px;
	position:absolute;
	left:54px;
	top:641px;
	font-family:Poppins;
	text-align:left;
	font-size:16px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_21 { 
	width:166px;
	height:223px;
	position:absolute;
	left:1088px;
	top:314px;
}
.e3_22 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.10000000149011612;
	width:166px;
	height:98px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e3_23 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.10000000149011612;
	width:166px;
	height:105px;
	position:absolute;
	left:0px;
	top:118px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e3_24 { 
	color:rgba(255, 230.00000149011612, 66.00000366568565, 1);
	width:106px;
	height:40px;
	position:absolute;
	left:30px;
	top:20px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:1;
	line-height:px;
}
.e3_25 { 
	color:rgba(255, 255, 255, 1);
	width:32px;
	height:13px;
	position:absolute;
	left:30px;
	top:65px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:1;
	line-height:px;
}
.e3_26 { 
	color:rgba(251.00000023841858, 19.0000007674098, 81.00000277161598, 1);
	width:68px;
	height:40px;
	position:absolute;
	left:30px;
	top:138px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:1;
	line-height:px;
}
.e3_27 { 
	color:rgba(255, 255, 255, 1);
	width:96px;
	height:20px;
	position:absolute;
	left:30px;
	top:183px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:1;
	line-height:px;
}
.e3_28 { 
	width:386px;
	height:12px;
	position:absolute;
	left:934px;
	top:65px;
}
.e3_30 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.6700000166893005;
	width:65px;
	height:12px;
	position:absolute;
	left:122px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:1.5;
	line-height:px;
}
.e3_31 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.6700000166893005;
	width:57px;
	height:12px;
	position:absolute;
	left:237px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:1.5;
	line-height:px;
}
.e3_32 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:42px;
	height:12px;
	position:absolute;
	left:344px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:1.5;
	line-height:px;
}
.e3_33 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.6700000166893005;
	width:72px;
	height:12px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:1.5;
	line-height:px;
}
.e4_217 { 
	width:102px;
	height:95px;
	position:absolute;
	left:46px;
	top:38px;
	background-image:url(images/image_13.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_34 { 
	width:1199px;
	height:767px;
	position:absolute;
	left:120px;
	top:1030px;
}
.e3_35 { 
	color:rgba(255, 255, 255, 1);
	width:316px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:35px;
	letter-spacing:0.30000001192092896;
	line-height:px;
}
.e3_36 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.6700000166893005;
	width:144px;
	height:12px;
	position:absolute;
	left:1055px;
	top:29px;
	font-family:Poppins;
	text-align:left;
	font-size:12px;
	letter-spacing:1.5;
	line-height:px;
}
.e3_37 { 
	width:373px;
	height:296px;
	position:absolute;
	left:0px;
	top:95px;
}
.e3_38 { 
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
}
.3_40 { 
	overflow:hidden;
}
.e3_40 { 
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_39 { 
	background-color:rgba(255, 255, 255, 1);
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_41 { 
	width:375px;
	height:250.3272247314453px;
	position:absolute;
	left:-1px;
	top:0px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_42 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%) ;
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_43 { 
	color:rgba(255, 255, 255, 1);
	width:245px;
	height:45px;
	position:absolute;
	left:20px;
	top:222px;
	font-family:Poppins;
	text-align:left;
	font-size:50px;
	letter-spacing:0.30000001192092896;
	line-height:px;
}
.e3_44 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.6700000166893005;
	width:110px;
	height:14px;
	position:absolute;
	left:20px;
	top:282px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_45 { 
	width:72px;
	height:29px;
	position:absolute;
	left:301px;
	top:221px;
}
.e3_46 { 
	background-color:rgba(0, 0, 0, 1);
	width:72px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.e3_47 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:19px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:1.3666666746139526;
	line-height:px;
}
.e3_48 { 
	width:373px;
	height:296px;
	position:absolute;
	left:0px;
	top:471px;
}
.e3_49 { 
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
}
.3_51 { 
	overflow:hidden;
}
.e3_51 { 
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_50 { 
	background-color:rgba(255, 255, 255, 1);
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_52 { 
	width:493px;
	height:741px;
	position:absolute;
	left:-70px;
	top:-79px;
	background-image:url(images/image_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_53 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%) ;
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_54 { 
	color:rgba(255, 255, 255, 1);
	width:214px;
	height:45px;
	position:absolute;
	left:20px;
	top:222px;
	font-family:Poppins;
	text-align:left;
	font-size:50px;
	letter-spacing:0.30000001192092896;
	line-height:px;
}
.e3_55 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.6700000166893005;
	width:110px;
	height:14px;
	position:absolute;
	left:20px;
	top:282px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_56 { 
	width:72px;
	height:29px;
	position:absolute;
	left:301px;
	top:221px;
}
.e3_57 { 
	background-color:rgba(0, 0, 0, 1);
	width:72px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.e3_58 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:19px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:1.3666666746139526;
	line-height:px;
}
.e3_59 { 
	width:373px;
	height:296px;
	position:absolute;
	left:413px;
	top:95px;
}
.e3_60 { 
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
}
.3_62 { 
	overflow:hidden;
}
.e3_62 { 
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_61 { 
	background-color:rgba(255, 255, 255, 1);
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_63 { 
	width:373px;
	height:560px;
	position:absolute;
	left:0px;
	top:-125px;
	background-image:url(images/image_7.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_64 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%) ;
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_65 { 
	color:rgba(255, 255, 255, 1);
	width:268px;
	height:45px;
	position:absolute;
	left:20px;
	top:222px;
	font-family:Poppins;
	text-align:left;
	font-size:50px;
	letter-spacing:0.30000001192092896;
	line-height:px;
}
.e3_66 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.6700000166893005;
	width:110px;
	height:14px;
	position:absolute;
	left:20px;
	top:282px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_67 { 
	width:72px;
	height:29px;
	position:absolute;
	left:301px;
	top:221px;
}
.e3_68 { 
	background-color:rgba(0, 0, 0, 1);
	width:72px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.e3_69 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:19px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:1.3666666746139526;
	line-height:px;
}
.e3_70 { 
	width:373px;
	height:296px;
	position:absolute;
	left:413px;
	top:471px;
}
.e3_71 { 
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
}
.3_73 { 
	overflow:hidden;
}
.e3_73 { 
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_72 { 
	background-color:rgba(255, 255, 255, 1);
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_74 { 
	width:391px;
	height:262px;
	position:absolute;
	left:-9px;
	top:-6px;
	background-image:url(images/image_6.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_75 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%) ;
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_76 { 
	color:rgba(255, 255, 255, 1);
	width:157px;
	height:45px;
	position:absolute;
	left:20px;
	top:222px;
	font-family:Poppins;
	text-align:left;
	font-size:50px;
	letter-spacing:0.30000001192092896;
	line-height:px;
}
.e3_77 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.6700000166893005;
	width:110px;
	height:14px;
	position:absolute;
	left:20px;
	top:282px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_78 { 
	width:72px;
	height:29px;
	position:absolute;
	left:301px;
	top:221px;
}
.e3_79 { 
	background-color:rgba(0, 0, 0, 1);
	width:72px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.e3_80 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:19px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:1.3666666746139526;
	line-height:px;
}
.e3_81 { 
	width:373px;
	height:296px;
	position:absolute;
	left:826px;
	top:95px;
}
.e3_82 { 
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
}
.3_84 { 
	overflow:hidden;
}
.e3_84 { 
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_83 { 
	background-color:rgba(255, 255, 255, 1);
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_85 { 
	transform: rotate(0.4999999975737198deg);
	width:585.7039794921875px;
	height:390.4693298339844px;
	position:absolute;
	left:-104.592529296875px;
	top:-72.3223876953125px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_86 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%) ;
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_87 { 
	color:rgba(255, 255, 255, 1);
	width:133px;
	height:45px;
	position:absolute;
	left:20px;
	top:222px;
	font-family:Poppins;
	text-align:left;
	font-size:50px;
	letter-spacing:0.30000001192092896;
	line-height:px;
}
.e3_88 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.6700000166893005;
	width:110px;
	height:14px;
	position:absolute;
	left:20px;
	top:282px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_89 { 
	width:72px;
	height:29px;
	position:absolute;
	left:301px;
	top:221px;
}
.e3_90 { 
	background-color:rgba(0, 0, 0, 1);
	width:72px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.e3_91 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:19px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:1.3666666746139526;
	line-height:px;
}
.e3_92 { 
	width:373px;
	height:296px;
	position:absolute;
	left:826px;
	top:471px;
}
.e3_93 { 
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
}
.3_95 { 
	overflow:hidden;
}
.e3_95 { 
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_94 { 
	background-color:rgba(255, 255, 255, 1);
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_96 { 
	width:375px;
	height:250.33245849609375px;
	position:absolute;
	left:-1px;
	top:0px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_97 { 
	background-image:linear-gradient(0deg, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 1) 100%) ;
	width:373px;
	height:250px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_98 { 
	color:rgba(255, 255, 255, 1);
	width:195px;
	height:45px;
	position:absolute;
	left:20px;
	top:222px;
	font-family:Poppins;
	text-align:left;
	font-size:50px;
	letter-spacing:0.30000001192092896;
	line-height:px;
}
.e3_99 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.6700000166893005;
	width:110px;
	height:14px;
	position:absolute;
	left:20px;
	top:282px;
	font-family:Poppins;
	text-align:left;
	font-size:13px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_100 { 
	width:72px;
	height:29px;
	position:absolute;
	left:301px;
	top:221px;
}
.e3_101 { 
	background-color:rgba(0, 0, 0, 1);
	width:72px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}
.e3_102 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:19px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:1.3666666746139526;
	line-height:px;
}
.e3_103 { 
	width:1350.29833984375px;
	height:1439px;
	position:absolute;
	left:89.70159912109375px;
	top:1997px;
}
.e3_104 { 
	background-color:rgba(255, 255, 255, 1);
	opacity:0.10000000149011612;
	width:999px;
	height:733px;
	position:absolute;
	left:351.29840087890625px;
	top:0px;
}
.e3_105 { 
	width:200px;
	height:70px;
	position:absolute;
	left:672.2984008789062px;
	top:380px;
}
.e3_106 { 
	background-color:rgba(37.06353038549423, 171.06250405311584, 116.93045675754547, 1);
	width:200px;
	height:70px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e3_107 { 
	color:rgba(255, 255, 255, 1);
	width:114px;
	height:22px;
	position:absolute;
	left:43px;
	top:24px;
	font-family:Poppins;
	text-align:left;
	font-size:18px;
	letter-spacing:1;
	line-height:px;
}
.e3_108 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.699999988079071;
	width:558px;
	height:200px;
	position:absolute;
	left:672.2984008789062px;
	top:130px;
	font-family:Poppins;
	text-align:left;
	font-size:25px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_109 { 
	transform: rotate(-10.000000283105564deg);
	width:504.2421569824219px;
	height:121.12350463867188px;
	position:absolute;
	left:0px;
	top:565.108154296875px;
}
.e3_110 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:12.503030776977539px;
	height:2.8262059688568115px;
	position:absolute;
	left:376.84525772019333px;
	top:-23.77992920898214px;
}
.e3_111 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:6.959553241729736px;
	height:2.624265670776367px;
	position:absolute;
	left:246.5170387965279px;
	top:-3.2429987768373394px;
}
.e3_112 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:3.168968439102173px;
	height:2.624265670776367px;
	position:absolute;
	left:333.4991606975823px;
	top:-7.5449710680968565px;
}
.e3_113 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:14.629464149475098px;
	height:4.035045623779297px;
	position:absolute;
	left:415.2148583379292px;
	top:-33.252873684287806px;
}
.e3_114 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:3.61523699760437px;
	height:2.624265670776367px;
	position:absolute;
	left:326.6289831158854px;
	top:-6.7729069675015126px;
}
.e3_115 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:20.9736385345459px;
	height:4.340669631958008px;
	position:absolute;
	left:256.2888087666397px;
	top:-5.8282262903221635px;
}
.e3_116 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:4.348408222198486px;
	height:2.624265670776367px;
	position:absolute;
	left:362.140363842788px;
	top:-23.630650618410982px;
}
.e3_117 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:104.50694274902344px;
	height:31.220460891723633px;
	position:absolute;
	left:400.31848368417786px;
	top:-26.380188601879127px;
}
.e3_118 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:2.6846742630004883px;
	height:2.624265670776367px;
	position:absolute;
	left:446.4925174299476px;
	top:-28.33666719766643px;
}
.e3_119 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:18.408409118652344px;
	height:4.909967422485352px;
	position:absolute;
	left:335.98529910236243px;
	top:-31.7341368093048px;
}
.e3_120 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:12.640243530273438px;
	height:4.318790435791016px;
	position:absolute;
	left:357.9346877171274px;
	top:-33.03802394297418px;
}
.e3_121 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:2.624265670776367px;
	height:2.624265670776367px;
	position:absolute;
	left:330.64722020364957px;
	top:-29.410413477054135px;
}
.e3_122 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:4.782450199127197px;
	height:3.012603521347046px;
	position:absolute;
	left:405.0594361326773px;
	top:-33.23939665348826px;
}
.e3_123 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:3.479776620864868px;
	height:2.624265670776367px;
	position:absolute;
	left:371.50381048307645px;
	top:29.472092547279317px;
}
.e3_124 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:3.374539613723755px;
	height:2.624265670776367px;
	position:absolute;
	left:343.41943057937397px;
	top:30.46626998767897px;
}
.e3_125 { 
	transform: rotate(-10.000000283105564deg);
	width:503.3598327636719px;
	height:114.4953384399414px;
	position:absolute;
	left:0px;
	top:0px;
}
.3_126 { 
	overflow:hidden;
}
.e3_126 { 
	transform: rotate(-10.000000283105564deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:503.3598327636719px;
	height:114.4953384399414px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_127 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:5.712996482849121px;
	height:2.624265670776367px;
	position:absolute;
	left:254.63954268875477px;
	top:45.66299363858161px;
}
.e3_128 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:503.51708984375px;
	height:114.4953384399414px;
	position:absolute;
	left:-0.15544408675268073px;
	top:0.027393305396799406px;
}
.e3_129 { 
	transform: rotate(-10.00000028310556deg);
	width:2.624265670776367px;
	height:2.624265670776367px;
	position:absolute;
	left:445.5601666013582px;
	top:13.299984651423074px;
}
.e3_130 { 
	transform: rotate(-10.00000028310556deg);
	width:2.624265670776367px;
	height:2.624265670776367px;
	position:absolute;
	left:436.84490790312486px;
	top:13.535309528608195px;
}
.e3_131 { 
	transform: rotate(-10.00000028310556deg);
	width:3.906553268432617px;
	height:2.624265670776367px;
	position:absolute;
	left:400.2330695162732px;
	top:14.38772680123111px;
}
.e3_132 { 
	transform: rotate(-10.00000028310556deg);
	width:4.072233200073242px;
	height:2.624265670776367px;
	position:absolute;
	left:386.4248642372613px;
	top:-2.0763465307991282px;
}
.e3_133 { 
	transform: rotate(-10.00000028310556deg);
	width:11.419168472290039px;
	height:2.624265670776367px;
	position:absolute;
	left:374.33318772537814px;
	top:0.21472037717285275px;
}
.e3_134 { 
	transform: rotate(-10.00000028310556deg);
	width:9.768487930297852px;
	height:2.624265670776367px;
	position:absolute;
	left:326.57269343229837px;
	top:32.7157439611874px;
}
.e3_135 { 
	transform: rotate(-10.00000028310556deg);
	width:61.45222473144531px;
	height:7.648835182189941px;
	position:absolute;
	left:237.09407270107565px;
	top:32.57008743743518px;
}
.e3_136 { 
	transform: rotate(-10.00000028310556deg);
	width:20.942523956298828px;
	height:3.7242467403411865px;
	position:absolute;
	left:195.72326570490483px;
	top:2.361950080564384px;
}
.e3_137 { 
	transform: rotate(-10.00000028310556deg);
	width:20.870786666870117px;
	height:4.0749359130859375px;
	position:absolute;
	left:147.3764265787761px;
	top:9.5477141046631px;
}
.e3_138 { 
	transform: rotate(-10.00000028310556deg);
	width:18.086580276489258px;
	height:6.630516529083252px;
	position:absolute;
	left:127.4993814423799px;
	top:12.023047266671256px;
}
.e3_139 { 
	transform: rotate(-10.00000028310556deg);
	width:3.134187698364258px;
	height:2.624265670776367px;
	position:absolute;
	left:206.97327945980302px;
	top:-19.289415690207534px;
}
.e3_140 { 
	transform: rotate(-10.00000028310556deg);
	width:12.832347869873047px;
	height:7.498328685760498px;
	position:absolute;
	left:210.83754767231207px;
	top:-26.20745555345593px;
}
.e3_141 { 
	transform: rotate(-10.00000028310556deg);
	width:4.306116580963135px;
	height:2.624265670776367px;
	position:absolute;
	left:237.18504931000595px;
	top:-21.408395293564354px;
}
.e3_142 { 
	transform: rotate(-10.00000028310556deg);
	width:11.625345230102539px;
	height:2.624265670776367px;
	position:absolute;
	left:244.5206140901424px;
	top:-21.14196705097629px;
}
.e3_143 { 
	transform: rotate(-10.00000028310556deg);
	width:31.57990837097168px;
	height:6.982276439666748px;
	position:absolute;
	left:257.3396786422586px;
	top:-25.85083804725764px;
}
.e3_144 { 
	transform: rotate(-10.00000028310556deg);
	width:8.568882942199707px;
	height:2.624265670776367px;
	position:absolute;
	left:289.7500679031913px;
	top:-30.155657102950045px;
}
.e3_145 { 
	transform: rotate(-10.00000028310556deg);
	width:15.4344482421875px;
	height:4.150527477264404px;
	position:absolute;
	left:298.97370032324227px;
	top:-25.091726765828298px;
}
.e3_146 { 
	transform: rotate(-10.000000283105562deg);
	width:503.51708984375px;
	height:114.4953384399414px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_147 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:7.647959232330322px;
	height:2.624265670776367px;
	position:absolute;
	left:424.74742157257015px;
	top:32.920355728974755px;
}
.e3_148 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:9.711935997009277px;
	height:3.4418699741363525px;
	position:absolute;
	left:486.4469926653842px;
	top:1.9717701755689632px;
}
.e3_149 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:7.450010776519775px;
	height:2.624265670776367px;
	position:absolute;
	left:460.0457774405545px;
	top:35.70437146134282px;
}
.e3_150 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:2.624265670776367px;
	height:2.624265670776367px;
	position:absolute;
	left:503.7449256640589px;
	top:13.638065580218608px;
}
.e3_151 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:7.675626277923584px;
	height:2.624265670776367px;
	position:absolute;
	left:476.68120391566663px;
	top:36.275578264538126px;
}
.e3_152 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:3.042511224746704px;
	height:3.502826452255249px;
	position:absolute;
	left:488.10866900021665px;
	top:29.672951487404134px;
}
.e3_153 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:5.187343120574951px;
	height:2.624265670776367px;
	position:absolute;
	left:469.36089245810626px;
	top:28.53182198002287px;
}
.e3_154 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:9.717218399047852px;
	height:2.624265670776367px;
	position:absolute;
	left:443.92688375602074px;
	top:34.537324334613004px;
}
.e3_155 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:6.087640762329102px;
	height:2.624265670776367px;
	position:absolute;
	left:436.68989589654484px;
	top:33.55792053431287px;
}
.e3_156 { 
	transform: rotate(-10.000000283105562deg);
	background-color:rgba(255, 205.00000298023224, 0, 1);
	width:4.812163829803467px;
	height:3.7670719623565674px;
	position:absolute;
	left:508.9672426985503px;
	top:10.394032788461118px;
}
.e3_157 { 
	color:rgba(255, 255, 255, 1);
	width:523px;
	height:480px;
	position:absolute;
	left:30.29840087890625px;
	top:100px;
	font-family:Poppins;
	text-align:left;
	font-size:120px;
	letter-spacing:-2;
	line-height:px;
}
.e3_158 { 
	width:558px;
	height:514px;
	position:absolute;
	left:672.2984008789062px;
	top:540px;
}
.3_160 { 
	overflow:hidden;
}
.e3_160 { 
	width:558px;
	height:514px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_159 { 
	background-color:rgba(255, 255, 255, 1);
	width:558px;
	height:514px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_161 { 
	width:1357px;
	height:906px;
	position:absolute;
	left:-381px;
	top:-110px;
	background-image:url(images/image_10.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_162 { 
	width:321px;
	height:321px;
	position:absolute;
	left:351.29840087890625px;
	top:1054px;
}
.3_164 { 
	overflow:hidden;
}
.e3_164 { 
	background-color:rgba(255, 255, 255, 1);
	width:321px;
	height:321px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_163 { 
	background-color:rgba(255, 255, 255, 1);
	width:321px;
	height:321px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_165 { 
	width:1120px;
	height:1476px;
	position:absolute;
	left:-472px;
	top:-20px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_166 { 
	width:321px;
	height:321px;
	position:absolute;
	left:30.29840087890625px;
	top:733px;
}
.3_168 { 
	overflow:hidden;
}
.e3_168 { 
	width:321px;
	height:321px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_167 { 
	background-color:rgba(255, 255, 255, 1);
	width:321px;
	height:321px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_169 { 
	width:377px;
	height:377px;
	position:absolute;
	left:-11px;
	top:-23px;
	background-image:url(images/image_9.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_170 { 
	width:196px;
	height:44px;
	position:absolute;
	left:30.29840087890625px;
	top:1074px;
}
.e3_171 { 
	color:rgba(255, 255, 255, 1);
	width:196px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_172 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:52px;
	height:14px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_173 { 
	width:157px;
	height:44px;
	position:absolute;
	left:351.29840087890625px;
	top:1395px;
}
.e3_174 { 
	color:rgba(255, 255, 255, 1);
	width:157px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_175 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:52px;
	height:14px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_176 { 
	width:158px;
	height:44px;
	position:absolute;
	left:692.2984008789062px;
	top:1074px;
}
.e3_177 { 
	color:rgba(255, 255, 255, 1);
	width:158px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:20px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_178 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:52px;
	height:14px;
	position:absolute;
	left:0px;
	top:30px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_179 { 
	width:1200.2169189453125px;
	height:920px;
	position:absolute;
	left:120px;
	top:3586px;
}
.e3_180 { 
	color:rgba(255, 255, 255, 1);
	width:447px;
	height:70px;
	position:absolute;
	left:321px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:50px;
	letter-spacing:0.8333333134651184;
	line-height:px;
}
.e3_181 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:67px;
	height:23px;
	position:absolute;
	left:321px;
	top:80px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_182 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.3400000035762787;
	width:26px;
	height:35px;
	position:absolute;
	left:0px;
	top:29px;
	font-family:Poppins;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e3_183 { 
	transform: rotate(-90deg);
	width:19.60541534423828px;
	height:24.21693229675293px;
	position:absolute;
	left:1176px;
	top:58.52880859375px;
}
.e3_184 { 
	transform: rotate(-90deg);
	width:1.447963833808899px;
	height:22.058822631835938px;
	position:absolute;
	left:0px;
	top:-8.699766159057617px;
}
.3_184 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e3_185 { 
	transform: rotate(-135deg);
	width:13.86312198638916px;
	height:13.86312198638916px;
	position:absolute;
	left:14.414225578308105px;
	top:0px;
}
.3_185 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e3_186 { 
	opacity:0.4000000059604645;
	width:1200px;
	height:1px;
	position:absolute;
	left:0px;
	top:152.5px;
}
.3_186 { 
	border:0.5px solid rgba(255, 255, 255, 1);
}
.e3_187 { 
	color:rgba(255, 255, 255, 1);
	width:484px;
	height:70px;
	position:absolute;
	left:321px;
	top:204px;
	font-family:Poppins;
	text-align:left;
	font-size:50px;
	letter-spacing:0.8333333134651184;
	line-height:px;
}
.e3_188 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:72px;
	height:23px;
	position:absolute;
	left:321px;
	top:284px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_189 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.3400000035762787;
	width:31px;
	height:35px;
	position:absolute;
	left:0px;
	top:233px;
	font-family:Poppins;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e3_190 { 
	transform: rotate(-90deg);
	width:19.60541534423828px;
	height:24.21693229675293px;
	position:absolute;
	left:1176px;
	top:262.529052734375px;
}
.e3_191 { 
	transform: rotate(-90deg);
	width:1.447963833808899px;
	height:22.058822631835938px;
	position:absolute;
	left:0px;
	top:-8.699766159057617px;
}
.3_191 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e3_192 { 
	transform: rotate(-135deg);
	width:13.86312198638916px;
	height:13.86312198638916px;
	position:absolute;
	left:14.414225578308105px;
	top:0px;
}
.3_192 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e3_193 { 
	opacity:0.4000000059604645;
	width:1200px;
	height:1px;
	position:absolute;
	left:0px;
	top:356.5px;
}
.3_193 { 
	border:0.5px solid rgba(255, 255, 255, 1);
}
.e3_194 { 
	color:rgba(255, 255, 255, 1);
	width:348px;
	height:70px;
	position:absolute;
	left:321px;
	top:408px;
	font-family:Poppins;
	text-align:left;
	font-size:50px;
	letter-spacing:0.8333333134651184;
	line-height:px;
}
.e3_195 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:71px;
	height:23px;
	position:absolute;
	left:321px;
	top:488px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_196 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.3400000035762787;
	width:32px;
	height:35px;
	position:absolute;
	left:0px;
	top:437px;
	font-family:Poppins;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e3_197 { 
	transform: rotate(-90deg);
	width:19.60541534423828px;
	height:24.21693229675293px;
	position:absolute;
	left:1176px;
	top:466.529052734375px;
}
.e3_198 { 
	transform: rotate(-90deg);
	width:1.447963833808899px;
	height:22.058822631835938px;
	position:absolute;
	left:0px;
	top:-8.699766159057617px;
}
.3_198 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e3_199 { 
	transform: rotate(-135deg);
	width:13.86312198638916px;
	height:13.86312198638916px;
	position:absolute;
	left:14.414225578308105px;
	top:0px;
}
.3_199 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e3_200 { 
	opacity:0.4000000059604645;
	width:1200px;
	height:1px;
	position:absolute;
	left:0px;
	top:560.5px;
}
.3_200 { 
	border:0.5px solid rgba(255, 255, 255, 1);
}
.e3_201 { 
	opacity:0.4000000059604645;
	width:1200px;
	height:1px;
	position:absolute;
	left:0px;
	top:765.5px;
}
.3_201 { 
	border:0.5px solid rgba(255, 255, 255, 1);
}
.e3_202 { 
	color:rgba(255, 255, 255, 1);
	width:402px;
	height:70px;
	position:absolute;
	left:321px;
	top:612px;
	font-family:Poppins;
	text-align:left;
	font-size:50px;
	letter-spacing:0.8333333134651184;
	line-height:px;
}
.e3_203 { 
	color:rgba(255, 255, 255, 1);
	width:342px;
	height:70px;
	position:absolute;
	left:321px;
	top:817px;
	font-family:Poppins;
	text-align:left;
	font-size:50px;
	letter-spacing:0.8333333134651184;
	line-height:px;
}
.e3_204 { 
	transform: rotate(-90deg);
	width:19.60541534423828px;
	height:24.21693229675293px;
	position:absolute;
	left:1176px;
	top:875.529296875px;
}
.e3_205 { 
	transform: rotate(-90deg);
	width:1.447963833808899px;
	height:22.058822631835938px;
	position:absolute;
	left:0px;
	top:-8.699766159057617px;
}
.3_205 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e3_206 { 
	transform: rotate(-135deg);
	width:13.86312198638916px;
	height:13.86312198638916px;
	position:absolute;
	left:14.414225578308105px;
	top:0px;
}
.3_206 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e3_207 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:71px;
	height:23px;
	position:absolute;
	left:321px;
	top:692px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_208 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.5;
	width:71px;
	height:23px;
	position:absolute;
	left:321px;
	top:897px;
	font-family:Poppins;
	text-align:left;
	font-size:14px;
	letter-spacing:0.5;
	line-height:px;
}
.e3_209 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.3400000035762787;
	width:33px;
	height:35px;
	position:absolute;
	left:0px;
	top:641px;
	font-family:Poppins;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e3_210 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.3400000035762787;
	width:33px;
	height:35px;
	position:absolute;
	left:0px;
	top:846px;
	font-family:Poppins;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
	line-height:px;
}
.e3_211 { 
	transform: rotate(-90deg);
	width:19.60541534423828px;
	height:24.21693229675293px;
	position:absolute;
	left:1176px;
	top:670.529052734375px;
}
.e3_212 { 
	transform: rotate(-90deg);
	width:1.447963833808899px;
	height:22.058822631835938px;
	position:absolute;
	left:0px;
	top:-8.699766159057617px;
}
.3_212 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e3_213 { 
	transform: rotate(-135deg);
	width:13.86312198638916px;
	height:13.86312198638916px;
	position:absolute;
	left:14.414225578308105px;
	top:0px;
}
.3_213 { 
	border:2px solid rgba(255, 255, 255, 1);
}
